body
  {
	background-color: #d0d0d0;
	font-family: arial;
	margin:0 auto;
  }
h1,h2,h4,h5,h6{color: #cc6600; font-weight: 500;}
h3{color:blue;font-weight: 800;margin: 0 auto;}

.titel{ text-align: center;
    border: 1px solid green;}
 nav
  {
  	position: absolute;
  	background-color:#282828 ; /*#483D8B\*/
  	width: 100%;
  }

 nav ul
  {
  	width: 70%;
  	margin: 0 auto;
  }
 nav ul li
  {
  	display: inline-block;
  	padding: 1%;
  }
 nav ul li a { color:white; font-size: 1em; text-decoration: none; padding: 5px;}

 nav ul li a:hover{text-decoration: underline;}




 #main-content {width: 70%; margin: 0 auto;border: 1px solid #808080; min-height: 200px; background-color: white;
                  padding: 3%;}

  table,th,td
  {
    border:3px solid #1044EE;
    border-collapse: collapse;
    margin: 0 auto;
  }
  th,td
  {

    padding: 5px;

  }
  th{background-color: #996633; color: white;}

  img {border:2px solid #c6c6c6;
    border-collapse: collapse;
    margin: 0 auto;}

 footer
   {
   	width: 70%;
   	margin: 0 auto 10px;
   	background-color: #282828;
   	color: white;
   	padding: 0 1%;
   	border: 1px solid #282828;
   	border-radius: 0px 0px 10px 10px;

   }

  footer p{ font-size: .8em;}

  .left { width: 45%; float: left;}

  .right {width: 45%; float: right;}

  input [type = "text"],input [type ="password"]
   {

    width: 300px ;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #c6c6c6;
  }

  select { height: 25px;width: 300px;border-radius: 8px;padding: 5px;border: 1px solid #c6c6c6;}

  textarea { width: 300px; height: 25px;border-radius: 8px;
    padding: 5px;
    border: 1px solid #c6c6c6}

    input [type= "submit"]{ width: 100px;padding: 3px;font-size: 1.2em;background-color: #cc9900;
           border: 10p}

.clearfix:after
    {
    	visibility: hidden;
    	display: block;
    	font-size: 0;
    	content: " ";
    	clear: both;
    	height: 0;

    }
 .clearfix {display: inline-block;}
 /* start commented backlash hack \*/

 *html .clearfix {height: 1%;}


 .clearfix {display: block;}

  /* start commented backlash hack \*/


  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }


